body{
  background-color:#F8F4E3;
  margin:0px;
  cursor: url(https://cdn.glitch.com/d1be616f-2f38-4a63-8b42-04ee9c7470c7%2Fpaw%20open.png?1525718688226), auto !important;

  
}

.refresh img{
  width:34px;
  height:auto;
  position:absolute;
  left:95%;
  top:97%;
}

.refresh :hover{
  width:45px;
  height:auto;
  transition: .3s;
}


h1{
  font-family: 'Fredoka One', cursive;
  position: absolute;
    left: 54%;
    top: 0%;
  font-size: 80px;
  
}
/* .backgroundleft{
  background-color:#D2BBA0;
  height:850px;
  width:370px;
  margin-left:160px;
  
 
} */


.midwhite{
  width: 144px;
    height:144px;
  background-color:#D2BBA0;
  
  position: absolute;
  left: 31%;
  
  top: 0%;
  border-radius:109px;
}

#midwhite:hover{
  width:140px;
  height:auto;
  transition: .5s;
  
}

.midgrey{
  width: 144px;
    height:144px;
  background-color:#D2BBA0;
  
  position: absolute;
  left: 31%;
  
  top: 23%;
  border-radius:109px;
}
#midgrey:hover{
  width:140px;
  height:auto;
  transition: .5s;
  
}
.middark{
  width: 144px;
    height:144px;
  background-color:#D2BBA0;
  
  position: absolute;
  left: 31%;
  
  top: 43%;
  border-radius:100px;
}
#middark:hover{
  width:140px;
  height:auto;
  transition: .5s;
  
}
.midmix{
  width: 144px;
    height:144px;
  background-color:#D2BBA0;
  
  position: absolute;
  left: 31%;
  
  top: 63%;
  border-radius:109px;
}
#midmix:hover{
  width:140px;
  height:auto;
  transition: .5s;
  
}

.midcream{
  width: 144px;
    height:144px;
  background-color:#D2BBA0;
  
  position: absolute;
  left: 31%;
  
  top: 83%;
  border-radius:109px;
}
#midcream:hover{
  width:140px;
  height:auto;
  transition: .5s;
  
}
/* .yarn{
  position: absolute;
  left: 20%;
  top: 35%;
}

.fish{
  position: absolute;
  left: 20%;
  top: 56%;
} */

/* .line1{
  border-left: 1px solid grey;
    height: 900px;
    position: absolute;
    left: 20%;
    margin-left: -3px;
    top: 0;
}

.line2{
  border-left: 1px solid grey;
    height: 900px;
    position: absolute;
    left: 40%;
    margin-left: -3px;
    top: 0;
}

.line3{
  border-left: 1px solid grey;
    height: 900px;
    position: absolute;
    left: 60%;
    margin-left: -3px;
    top: 0;
}

.line4{
  border-left: 1px solid grey;
    height: 900px;
    position: absolute;
    left: 80%;
    margin-left: -3px;
    top: 0;
}
.line5{
  border-left: 1px solid grey;
    height: 900px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0;
}


.line6{
  border-top: 1px solid grey;
    width: 1500px;
    position: absolute;
    left: 0;
    margin-left: -3px;
    top: 20%;
}

.line7{
  border-top: 1px solid grey;
    width: 1500px;
    position: absolute;
    left: 0;
    margin-left: -3px;
    top: 40%;
}

.line8{
  border-top: 1px solid grey;
    width: 1500px;
    position: absolute;
    left: 0;
    margin-left: -3px;
    top: 60%;
}

.line9{
  border-top: 1px solid grey;
    width: 1500px;
    position: absolute;
    left: 0;
    margin-left: -3px;
    top: 80%;
}

.line10{
  border-top: 1px solid grey;
    width: 1500px;
    position: absolute;
    left: 0;
    margin-left: -3px;
    top: 50%;
} */

.midwhite{

    position: absolute;
    left: 5%;
    margin-left: -3px;
    top: 2%;
   
}

.midgrey{

    position: absolute;
    left: 5%;
    margin-left: -3px;
    top: 22%;
    
}

.middark{

    position: absolute;
    left: 5%;
    margin-left: -3px;
    top: 42%;
  
}

.midmix{

    position: absolute;
    left: 5%;
    margin-left: -3px;
    top: 62%;
 
}

.midcream{

    position: absolute;
    left: 5%;
    margin-left: -3px;
    top: 82%;
}


.drawer{
    width: 400px;
    height:100px;
  background-color:#D2BBA0;
  
  position: absolute;
  left: 18%;
  margin-left: -3px;
  top: 4%;
  display:inline-block;
  border-radius:50px;

}

/* .drawer:hover{
    width: 270px;
    height:100px;
  background-color:#D2BBA0;
  
  position: absolute;
  left: 31%;
  margin-left: -3px;
  top: 5%;
  overflow: scroll;
  border-radius:50px;
  transition: .5s;
} */


.drawer2{
    width: 400px;
    height:100px;
  background-color:#D2BBA0;
  
  position: absolute;
  left: 18%;
  margin-left: -3px;
  top: 24%;
  display:inline-block;
  border-radius:50px;

}


/* .drawer2:hover{
    width: 170px;
    height:137px;
  background-color:#F8F4E3;
  
  position: absolute;
  left: 31%;
  margin-left: -3px;
  top: 25%;
  overflow: scroll;
  border-radius:50px;
  transition: .5s;

} */
.drawer3{
    width: 400px;
    height:100px;
  background-color:#D2BBA0;
  
  position: absolute;
  left: 18%;
  margin-left: -3px;
  top: 44%;
  display:inline-block;
  border-radius:50px;


}
/* 
.drawer3:hover{
    width: 400px;
    height:100px;
  background-color:#D2BBA0;
  
  position: absolute;
  left: 18%;
  margin-left: -3px;
  top: 65%;
  display:inline-block;
  border-radius:50px;

}
 */


.drawer4{
    width: 400px;
    height:100px;
  background-color:#D2BBA0;
  
  position: absolute;
  left: 18%;
  margin-left: -3px;
  top: 64%;
  display:inline-block;
  border-radius:50px;


}

/* .drawer4:hover{
    width: 170px;
    height:137px;
  background-color:#F8F4E3;
  
  position: absolute;
  left: 31%;
  margin-left: -3px;
  top: 65%;
  overflow: scroll;
  border-radius:50px;
  transition: .5s;

} */
.drawer5{
    width: 400px;
    height:100px;
  background-color:#D2BBA0;
  
  position: absolute;
  left: 18%;
  margin-left: -3px;
  top: 84%;
  display:inline-block;
  border-radius:50px;


}

/* .drawer5:hover{
    width: 170px;
    height:137px;
  background-color:#F8F4E3;
  
  position: absolute;
  left: 31%;
  margin-left: -3px;
  top: 85%;
  overflow: scroll;
  border-radius:50px;
  transition: .5s;

} */

.drawer img {
    position: absolute;
    left:4%;
    margin-top:16px;
    margin-bottom:10px;
    padding: 10px;
  display: inline-block;
 }

.drawer #redglasses {
    position: absolute;
    left:13%;
    margin-top:30px;
    margin-bottom:10px;
    padding-left: 100px;
    
 }

.drawer #sunglasses {
    position: absolute;
    left:45%;
    margin-bottom:15px;
    padding-left: 100px;
 }
.drawer2 img {
    position: absolute;
    left:0%;
    margin-top:5px;
    margin-bottom:13px;
    padding: 10px;
 }

.drawer2 #nyhat {
    position: absolute;
    left:3%;
    margin-top:3px;
    margin-bottom:13px;
    padding: 10px;
 }
.drawer2 #beret {
    position: absolute;
    left:36%;
    margin-top:3px;
    margin-bottom:13px;
    padding: 10px;
 }


.drawer2 #ear {
    position: absolute;
    left:66%;
    margin-top:0px;
    margin-left:20px;
    margin-bottom:28px;
    padding: 10px;
  overflow: hidden;
 }

/* .drawer3 img {
    position: absolute;
    left:10%;
    margin-top:10px;
    margin-bottom:0px;
    padding: 10px;
 } */
.drawer3 #boots {
    position: absolute;
    left:7%;
    margin-top:20px;

 }

.drawer3 #socks {
    position: absolute;
    left:70%;
    margin-top:29px;

 }
.drawer3 #pinkshoes {
    position: absolute;
    left:39%;
    margin-top:24px;

 }


.drawer4 #laptop {
    position: absolute;
    left:6%;
    margin-top:7px;
    margin-bottom:40px;
    padding: 10px;
 }
.drawer4 #cake {
    position: absolute;
    left:39%;
    margin-top:7px;
    margin-bottom:15px;
    padding: 10px;
 }

.drawer4 #coffee {
    position: absolute;
    left:72%;
    margin-top:7px;
    margin-bottom:15px;
    padding: 10px;
 }


.drawer5 img {
    position: absolute;
    left:20%;
    margin-top:15px;
    margin-bottom:7px;
    padding: 10px;
 }
.drawer5 #teeth {
    position: absolute;
    left:70%;
    margin-top:11px;
    margin-bottom:37px;
    padding: 10px;
 }
.drawer5 #tongue {
    position: absolute;
    left:40%;
    margin-top: 3px;
    margin-bottom:2px;
    padding: 10px;
 }
.drawer5 #lips {
    position: absolute;
    left:7%;
    margin-top:15px;
    margin-bottom:5px;
    padding: 10px;
 }

/* BIG CAT STACKING/////////////////////////////////////////////// *//* /////////////////////////////////////////////// */
.final {
  position: absolute;
  top: 35%;
  left: 50%;
}
.whitemid {
  position: relative;
  top: 0;
  left: 40px;
  z-index: 1;
  display:block;
}

.greymid {
  position: absolute;
  top: 0;
  left: 40px;
  z-index: 2;
  display:block;
}
.darkmid{
  position: absolute;
  top: 0;
  left: 40px;
  z-index: 3;
  display:none;
}
.greymid{
position: absolute;
  top: 0;
  left: 40px;
  z-index: 4;
  display:none;
}
.creammid{
position: absolute;
  top: 0;
  left: 40px;
  z-index: 5;
  display:none;
}
.mixmid{
position: absolute;
  top: 0;
  left: 40px;
  z-index: 6;
  display:none;
}
/* /////////////////////////////////////////////// */
.whitethin {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 6;
  display:none;
}
.greythin {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 7;
  display:block;
}
.darkthin{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8;
  display:none;
}
.greythin{
position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  display:none;
}
.creamthin{
position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display:none;
}
.mixthin{
position: absolute;
  top: 0;
  left: 0;
  z-index: 11;
  display:none;
}
/* /////////////////////////////////////////////// */
.whitefat {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 12;
  display:none;
}
.greyfat {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 13;
  display:none;
}
.darkfat{
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 14;
  display:none;
}
.greyfat{
position: absolute;
  top: 20px;
  left: 20px;
  z-index: 15;
  display:none;
}
.creamfat{
position: absolute;
  top: 20px;
  left: 20px;
  z-index: 16;
  display:none;
}
.mixfat{
position: absolute;
  top: 20px;
  left: 20px;
  z-index: 17;
  display:block;
}
/* /////////////////////////////////////////////// FAT stuff */
.redglassesfat {
  position: absolute;
  top: 117px;
  left: 82px;
  z-index: 18;
  display:none;
}
.roundglassesfat {
  position: absolute;
  top: 86px;
  left: 84px;
  z-index: 19;
  display:none;
}
.sunglassesfat {
  position: absolute;
  top: 86px;
  left: 82px;
  z-index: 20;
  display:none;
}

/* /////////////////////////////////////////////// */
.nyhatfat {
  position: absolute;
  top: -22px;
  left: 85px;
  z-index: 21;
  display:none;
}
.beretfat {
  position: absolute;
  top: -8px;
  left: 89px;
  z-index: 22;
  display:none;
}
.earfat {
  position: absolute;
  top: -105px;
  left: 90px;
  z-index: 23;
  display:none;
}

/* /////////////////////////////////////////////// */
.pinkshoesfat {
  position: absolute;
  top: 425px;
  left: 220px;
  z-index: 24;
  display:none;
}
.socksfat {
  position: absolute;
  top: 450px;
  left: 222px;
  z-index: 25;
  display:none;
}
.bootsfat {
  position: absolute;
  top: -105px;
  left: 90px;
  z-index: 26;
  display:none;
}

/* /////////////////////////////////////////////// */
.coffeefat {
  position: absolute;
  top: 386px;
  left: -13px;
  z-index: 27;
  display:none;
}
.cakefat {
  position: absolute;
  top: 386px;
  left: -13px;
  z-index: 28;
  display:none;
}
.laptopfat {
  position: absolute;
  top: 386px;
  left: -13px;
  z-index: 29;
  display:none;
}

/* /////////////////////////////////////////////// */
.lipsfat {
  position: absolute;
  top: 151px;
  left: 130px;
  z-index: 30;
  display:none;
}
.tonguefat {
  position: absolute;
  top: 148px;
  left: 125px;
  z-index: 31;
  display:none;
}
.teethfat {
  position: absolute;
  top: 144px;
  left: 134px;
  z-index: 32;
  display:none;
}

/* ///////////////////////////////////////////////MID *//* /////////////////////////////////////////////// */

.redglassesmid {
  position: absolute;
  top: 101px;
  left: 97px;
  z-index: 18;
  display:none;
}
.roundglassesmid {
  position: absolute;
  top: 75px;
  left: 97px;
  z-index: 19;
  display:none;
}
.sunglassesmid {
  position: absolute;
  top: 58px;
  left:97px;
  z-index: 20;
  display:none;
}

/* /////////////////////////////////////////////// */
.nyhatmid {
  position: absolute;
  top: -33px;
  left: 94px;
  z-index: 21;
  display:none;
}
.beretmid {
  position: absolute;
  top: -30px;
  left: 107px;
  z-index: 22;
  display:none;
}
.earmid {
  position: absolute;
  top: -114px;
  left: 124px;
  z-index: 23;
  display:none;
}

/* /////////////////////////////////////////////// */
.pinkshoesmid {
  position: absolute;
  top: 428px;
  left: 244px;
  z-index: 24;
  display:none;
}
.socksmid {
  position: absolute;
  top: 451px;
  left: 244px;
  z-index: 25;
  display:none;
}
.bootsmid {
  position: absolute;
  top: 407px;
  left: 230px;
  z-index: 26;
  display:none;
}

/* /////////////////////////////////////////////// */
.coffeemid {
  position: absolute;
  top: 387px;
  left: 31px;
  z-index: 27;
  display:none;
}
.cakemid {
  position: absolute;
  top: 387px;
  left: 31px;
  z-index: 28;
  display:none;
}
.laptopmid {
  position: absolute;
  top: 387px;
  left: 31px;
  z-index: 29;
  display:none;
}

/* /////////////////////////////////////////////// */
.lipsmid {
  position: absolute;
  top: 140px;
  left: 147px;
  z-index: 30;
  display:none;
}
.tonguemid {
  position: absolute;
  top: 134px;
  left: 140px;
  z-index: 31;
  display:none;
}
.teethmid {
  position: absolute;
  top: 129px;
  left: 148px;
  z-index: 32;
  display:none;
}